@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
.logo{
    max-width: 100px;
    height: auto;
    border-radius: 40%;
    margin-right: 20px;
}
.maintitle{
    -webkit-text-fill-color: #0000;
    text-fill-color: #0000;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(80deg, #662549 30%, #451952 60%, #1d1a39 99%);
}

.active{
    color: darkorange
}
.id-link-{
    color:blueviolet;
}
